* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F8FF;
}
/* for font style  */

.raleway-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.raleway-header {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* for font style  */

/* header and navbar design start */

.navbar-title-section {
    width: 90%;
    height: 700px;
    /* border: 2px red solid; */
    margin: 0 auto;
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.nav-title-btn {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px;
}

.nav-title-btn h3 {
    color: #4E47FF;
    font-weight: bold;
    font-size: 2rem;
}

.title-btn-container {
    margin: 0 auto;
    align-content: center;
    text-align: center;
    padding: 50px;
    margin-top: 100px;
}

.title-btn-container h1 {
    font-size: 64px;
}

.title-btn-container button {
    margin-top: 30px;
}

/* header and navbar design end */



/* shared style start  */

.btn-style {
    padding: 15px 35px;
    border-radius: 8px;
    border: none;
    background-color: #4E47FF;
    font-size: 0.9rem;
    color: white;

}

.btn-style:hover {
    background-color: rgba(136, 221, 66, 0.548);
    color: #4d47ffbd;
    font-weight: bold;
}

.description {
    font-size: 20px;
    font-weight: 400;
    color: #25243296;
}


.users-number {
    text-align: center;

}


.productive-user-number {
    font-size: 80px;
    color: #4E47FF;
}

.productive-user-description {
    font-size: 15px;
    font-weight: 500;
    color: #25243296;
}


.title-avatar h5 {
    font-size: 25px;
}


/* shared style end  */


/* main section design start here  */
.title-image-container {
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;

}

.second-title-img-contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: start;
    align-content: center;
    gap: 20px;


}

.title-image-container img {
    width: 400px;
    border-radius: 20px;


}

.title-image-container h2 {
    font-size: 40px;
}


/* <!-- Productive Users Section start --> */

.productive-user-container {
    width: 75%;

    margin: 0 auto;
    margin-top: 150px;
    padding: 40px;
    background-color: #706bfd28;
    border-radius: 15px;

}

.productive-user-title {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;

}


.rating {
    display: flex;
    justify-content: space-around;
}




/* <!-- Productive Users Section end --> */


/* feedback section start here  */
.feedback-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 40px;

}

.feedback-container h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 123px
}

.profile-container {
    display: flex;
    gap: 10px;
}

.profile-container img {
    border-radius: 100px;
}

.rating-details-container {
    width: fit-content;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    margin: 0 auto;
}


.title-avatar {
    margin-top: 20px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}





.rating-box {
    width: 360px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgb(196, 194, 194);
}



.date {
    font-weight: 400;
}

/* feedback section end here  */

/* form section start here */
.title-form-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}


.form-section h1 {
    font-size: 95px;

}


.form-section {
    width: 90%;
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-field {
    width: 300px;
    padding: 10px;
    border-radius: 10px;

}

.form-container input,
textarea {
    width: 400px;
    display: flex;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    /* background-color: rgb(248, 248, 248); */
    /* border: black; */
}

.form-container textarea {
    width: 400px;
    height: 100px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    /* background-color: rgb(248, 248, 248); */

}

.form-container button {
    width: 100%;

}

.form-container p {
    font-weight: 400;
    margin-bottom: 4px;
}

/* form section end here */

/* main section design end here */

/* footer section start  */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    border: 2px wheat;
    background-color: #ffffffea;
    width: 100%;
    height: 400px;
    text-align: center;
    align-items: center;
}
.footer-container ul{

    width: 40%;
    margin: 0 auto;
    display: flex;
    
    justify-content: space-between;
}

.logo-title{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
}

.footer-container ul li {
    list-style: none;
}

.footer-container ul li a{
    text-decoration: none;
    color:#8987A1 ;
    font-weight: 400;
}
/* footer section end */